:root{
    --text-width:320px;
    --back-home-background:#0003;
    --back-home-color:#fff;
    --form-color:#000;
    --inputs-background:#fff8;
    --inputs-focus-background: #0004;
    --inputs-focus-shadow: #fff;
}
.box_button{
    display: flex;
    position: absolute;
    right: 100px;
}
#back_home{
    box-shadow: 0 0 5px black;
    text-decoration: none;
    height: 35px;
    width: 55px;
    border-radius: 20px;
    box-sizing: border-box;
    padding:8px;
    background: var(--back-home-background);
    color: var(--back-home-color);
    transition: all 0.3s ease;
}
#back_home:hover{
    transform: scale(1.2);
    background: #fff3;
}
#back_home:active{
    transform: scale(1);
}
.text{
    margin: 35px 0 0 120px;
    text-align: center;
    border-left: 1px solid ;
    width: 0;
    height: 40px;
    box-sizing: border-box;
    padding:10px 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s linear forwards;
    color: white;
}
#contact_form{
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px auto;
    width: 250px;
    height: 350px;
    box-shadow: 0 0 5px var(--form-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
}
#contact_form:hover{
    transform: scale(1.05);
}
.form_title{
    margin:0 0 20px 0;
    text-shadow: 2px 2px 5px;
    color: white;
    
}
input{
    height: 25px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: var(--inputs-background);
    border: none;
    box-shadow: 0 0 5px var(--form-color);
    transition: all 0.3s ease;
    color: var(--form-color);
}
input:hover{
    transform: scale(1.1);
}
input:focus{
    outline: none;
    background: var(--inputs-focus-background);
    box-shadow: 0 0 5px var(--inputs-focus-shadow);
}
#message{
    border-radius: 15px;
    resize: none;
    height: 100px;
    margin-top: 10px;
    box-shadow: 0 0 5px var(--form-color);
    background: var(--inputs-background);
    border: none;
    transition: all 0.3s ease;
    color: var(--form-color);
}
#message:hover{
    transform: scale(1.1);
}
#message:focus{
    outline: none;
    background: var(--inputs-focus-background);
    box-shadow: 0 0 5px var(--inputs-focus-shadow);
}
#error{
    margin: 5px;
    height: 20px;
    width: 100px;
    border-radius: 20px;
}
#send{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px var(--form-color);
    background: #fff3;
    color: white;
    font-style: italic;
    font-size: 15px;
    transition: all 0.3s ease;
}
#send:hover{
    transform: scale(1.2);
    background: #fff5;
}
#send:active{
    transform: scale(1);
}
@keyframes typing{
    from {width: 0;}
    to {width: var(--text-width);}
}
@media (prefers-color-scheme: dark){
    :root{
        --back-home-background:#fff8;
        --back-home-color:#000;
        --form-color: #fff;
        --inputs-background: none;
        --inputs-focus-background: #fff4;
        --inputs-focus-shadow: #000;
    }
}
@media (max-width:768px){
    .box_button{
        right: 20px;
        top: 140px;
    }
    #back_home{
        padding: 7px 5px;
    }
    .text{
        font-size: 12px;
        margin-left: 30px;
        text-align:left;
    }
    :root{
        --text-width:300px;
    }
    input{
        width: 175px;
    }
    #send:hover{
        transform: none;
        background: #fff3;
    }
    #send:active{
        transform: scale(0.8);
        background: #fff5;
    }
    #box_link{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}

#loader{
    background: #0008;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.3s ease;
}
#loader.play{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.items{
    box-shadow: 0 0 5px blueviolet;
    height: 40px;
    width: 15px;
    border-radius: 20px;
    margin-left: 5px;
    background: linear-gradient(45deg, rgb(255, 100, 100),rgb(100, 100, 255));
}
.item1{
    animation: loader 1s ease infinite;
}
.item2{
    animation: loader 1s ease-in infinite;
}
@keyframes loader {
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}
#success_box{
    box-shadow: 0 0 5px white;
    background: #000a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%,-100px);
    z-index: 2;
    transition: all 1s ease;
    opacity: 0;
}
#success_box.show{
    transform: translate(-50%,0);
    opacity: 1;
}
.tick{
    border-radius: 20px ;
    transform: scale(1.5);
}