:root{
    --color-picture-shadow:#000;
    --back-home-background:#0003;
    --back-home-color:#fff;
}

.box_button{
    display: flex;
    position: absolute;
    right: 100px;
}
#back_home{
    box-shadow: 0 0 5px black;
    text-decoration: none;
    height: 35px;
    width: 55px;
    border-radius: 20px;
    box-sizing: border-box;
    padding:8px;
    background: var(--back-home-background);
    color: var(--back-home-color);
    transition: all 0.3s ease;
}
#back_home:hover{
    transform: scale(1.2);
    background: #fff3;
}
#back_home:active{
    transform: scale(1);
}
.box_project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px auto;
    overflow-y:scroll ;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 425px;
    width: 500px;
}
.box_project::-webkit-scrollbar{
    width: 5px;
}
.box_project::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #0005;
}
.project{
    flex-shrink: 0;
    box-shadow: 0 0 5px;
    width: 300px;
    height: 130px;
    display: flex;
    margin: 10px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
}
.project:hover{
    transform: scale(1.1);
    background: #fff4;
}
.project:active{
    transform: scale(1);
}
.picture{
    width: 100px;
    height: 100px;
    margin: 15px 10px 0 10px;
    box-shadow: 0 0 5px var(--color-picture-shadow);
    border-radius: 10px;
}
.box_explain{
    text-align: center;
    width: 180px;
    padding: 0 10px ;
    box-sizing: border-box;
    color: white;
}
.title{
    margin: 5px 0 5px 0;
    font-size: 20px;
}
.explain{
    margin: 0;
    height: 80px;
    border-top: 1px solid;
    box-sizing: border-box;
    padding: 5px;
}
@media (prefers-color-scheme: dark){
    :root{
        --color-picture-shadow: #fff;
        --back-home-background:#fff8;
        --back-home-color:#000;
    }
}
@media (max-width:768px){
    .box_button{
        right: 20px;
        top: 135px;
    }
    #back_home{
        padding: 7px 5px;
    }
    .box_project{
        width: 340px;
        height: 400px;
        margin-top: 50px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
}